h1 {
    text-align: center;
    font-family: 'Julius Sans One';
}
header {
    background-color: inherit;
    font-family: 'Julius Sans One';
}
figcaption {
    color: grey;
    font-size: x-small;
}
#logo {
    color: rgb(232, 128, 0);
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}
#navWrapper {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    width: 100%;
}

/* -----------------------nav bar--------------------------------- */
.listItem {
    font-family: 'Julius Sans One', sans-serif;
    background-color: inherit;
    color: white;
    border-style: none;
    font-size: small;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    
}
#navWrapper .listItem:hover {
    text-decoration: underline;
}

body {
    background-image: url('Jupiter-A-Mind-of-Limits.jpg');
    background-color: #cccccc;
    background-size: auto;
}
#mainPageImage {
    height: 500px;
}
#quote {
    color: whitesmoke;
    font-family: 'Jura', sans-serif;
    position: absolute;
    top: 60%;
    left: 10%;
}
#postLink {
    text-decoration: none;
    color: black;
}
#recentPostsHeader, #tagsHeader, #emailListHeader{
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: large;
    letter-spacing: 10px;
}
#tagsWrapper {
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: linear-gradient(45deg, #6955c395, #88203daa);
    margin-top: -20px;
    margin-bottom: -15px;
}
#recentPostsWrapper {
    background-color: white;
    margin-bottom: -15px;
    padding-top: 2%;
    padding-bottom: 2%;
}
#recentPost1Wrapper {
    padding: 2%;
    border: solid;
    border-width: .5px;
    border-radius: 8px;
    width: 60%;
    margin-left: 2%;
    background-color: white;
}
#recentPost1Wrapper:hover {
    background-color: rgba(211, 211, 211, 0.309);
}
#tagsList {
    font-family: 'Hubballi', cursive;
}
#tagsList button {
    color: black;
    background-color: white;
    /* font-weight: bold; */
    border: none;
    border-radius: 12px;
    margin: 3px;
}
#tagsList button:hover {
    background-color: whitesmoke;
}
#emailListWrapper {
    margin-top: -20px;
    background-color: white;
    padding-bottom: 5%;
    padding-left: 5%;
}
#footerTextWrapper {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
footer {
    background-color: rgb(90, 90, 90);
    color: rgb(209, 209, 209);
}
@media (min-width: 500px) {
    .listItem{
        background-color: rgba(0, 0, 255, 0.342);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    } 
}
