/*
body {
    font-family: sans-serif;
    background-color: white;
    padding-left: 20%;
    padding-right: 5%;
    margin-top: -3px;
}
#name {
    text-transform: uppercase;
}
.sectionWrapper {
    background-color: white;
}

.sectionHeader {
    text-decoration: underline overline;
    background-color: white;
    text-decoration-color: goldenrod;
    padding-left: 2px;
}
*/
