#title{
    font-family: 'Hubballi', sans-serif;
    font-size: 2rem;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
*{
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 60rem;
}
.lighter{
    margin-left: 2rem;
    color: gray;
}
.post-title{
    background-color: lightgray;
    margin-bottom: -10px;
    padding-left: 2px;
}